body {
    background-color: #EABDB4;
}

p {
    color: #E3499C; 
    font-weight: bold;
}

ul {
    color: #E34967;
}

h1 {
    color: #E65578;
}

.content {
    max-width: 900px;
    margin: auto;
}

/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image {
    max-width: 25%;
    max-height:15%;
    float: right;
}
/* 
.text {
    padding-left: 20px;
    padding-top: 20%;
    float: left;
    max-width: 300px;
}*/